* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Itim", sans-serif;
  background: #1c2b2d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}

header .title {
  margin-bottom: 1em;
}

header .references a {
  background: black;
  padding: 0.4em;
  margin: 5px;
  color: #fff;
  /* margin-left: 5px; */
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 10px;
  transition: all 0.8s;
}

header .references a:hover {
  background: #fff;
  color: black;
  box-shadow: 0 0 10px #fff;
}

header .references a:active {
  background: #fff;
  color: black;
  box-shadow: 0 0 10px #fff;
}

.container {
  width: 99%;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(32, 95px);
  grid-template-rows: repeat(7, 70px);
  grid-gap: 5px;
  overflow-x: scroll;
  position: relative;
}

.container::-webkit-scrollbar {
  height: 10px; /* Tamaño del scroll en horizontal */
}
.container::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160);
  border-radius: 4px;
}
.container::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}
.container::-webkit-scrollbar-thumb:active {
  background-color: #3a3a3a;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.container::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en active o hover */
.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.container .element-table:nth-child(2) {
  grid-column: 32/33;
}

.container .element-table:nth-child(5) {
  grid-column: 27/28;
}
.container .element-table:nth-child(13) {
  grid-column: 27/28;
}

.container .element-table:nth-child(21) {
  grid-column: 17/18;
}

.container .element-table:nth-child(39) {
  grid-column: 17/18;
}

.element-table {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.7s;
}

.element-table .symbol {
  font-size: 2rem;
}

.element-table .atomicnumber {
  font-size: 1.2rem;
}

.element-table .name {
  grid-column: 1 / span 2;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease-in;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
  transform: translateY(-3000px);
}

@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes modalOut {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-3000px);
  }
}

.card {
  margin: auto;
  min-width: 300px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding: 1em;
}

.description-element {
  display: block;
}

.description-element .name {
  text-align: center;
}

.description-element .symbol {
  text-align: center;
}

.description-element .atomicNumber {
  text-align: center;
}

.description-element .atomicMass {
  text-align: center;
}

.buttons {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}

#left {
  background-color: rgba(0, 0, 255, 0.5);
  border: none;
  width: 50%;
  border-radius: 10px;
  margin: 0.5em 0;
  height: 1.5em;
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  font-size: 2em;
}
#right {
  background-color: rgba(0, 0, 255, 0.5);
  border: none;
  width: 50%;
  border-radius: 10px;
  margin: 0.5em;
  height: 1.5em;
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  font-size: 2em;
}
#hide-modal {
  background-color: rgba(0, 0, 255, 0.5);
  border: none;
  width: 100%;
  border-radius: 10px;
  margin: 0.5em 0.5em;
  height: 1.5em;
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  font-size: 2em;
}

@media screen and (min-width: 480px) {
  .description-element {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.3rem;
  }
  .description-element .name {
    grid-column: 1 / span 2;
  }
  .description-element .symbol {
    grid-column: 1 / span 2;
  }
}
@media screen and (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: 9fr 3fr;
  }
}

footer {
  width: 100%;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}
footer .redes {
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .redes a {
  color: #fff;
  width: 30px;
  text-align: center;
  transition: all 0.8s;
}

footer .redes a:hover {
  border-radius: 25%;
  color: black;
  background: white;
  box-shadow: 0 0 1em white;
}

footer .redes a:active {
  border-radius: 25%;
  color: black;
  background: white;
  box-shadow: 0 0 1em white;
}
